html {
	background-color: black;
}

body {
	background-image: linear-gradient(grey,black);
	min-height: 100vh;
}

.header h2 {
	color: white;
}

.header p {
	color: white;
}

.results {
	margin-top: 20px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.card {
	border: 1px solid rgb(68, 68, 68);
}

#pageDivider {
	/* padding-top: 20px; */
	border-top: 1px solid rgb(68, 68, 68);
}

.card:hover .card-footer { 
	background-color: #dc3545;
	border-color: #dc3545;
	color: rgba(255,255,255,1)!important;
	z-index: 2;
}

footer {
	margin-top: 100px;
}


/* ~~~~~~~~~~~~~~~~~~This is overlay stuff~~~~~~~~~~~~` */

  .overlay {
	background: white;
	transition: all 0.2s ease-in;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
 
  .btn1 {
	border:0.5em solid white;
	border-radius: 50%;
	background: black;
	transition: all 0.2s ease-in;
	opacity: 0;
	position: absolute;
	width: 6em;
	height: 6em;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .btn1 p{
	position: relative;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 600;
	font-size: 5em;
  }

  .card:hover .overlay {
	  background: white;
	  opacity:0.1;  
  }

  .card:hover .btn1 {
	  opacity:0.5;  
  }